* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #cad2c5;
  background-color: #2f3e46;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 80px;
  font-size: 4rem;
  letter-spacing: 6px;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 6px;
  text-transform: uppercase;
}

button {
  font-size: 2.3rem;
  font-weight: 900;
  letter-spacing: 4px;
  margin-right: 25px;
  margin-bottom: 40px;
  padding: 10px 30px;
  background-color: #354f52;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(132, 169, 140, .8);
  color: #cad2c5;
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  position: relative;
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-2 select {
  margin-bottom: 80px;
  padding: 10px 50px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  background-color: #354f52;
  border: none;
  border-radius: 10px;
  color: #cad2c5;
}

.bgc-green {
  background-color: #588157;
}

.square {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px solid rgb(1, 70, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.hide {
  display: none;
}

.bgc-yellow {
  background-color: yellow;
}

.bgc-bomb {
  background-color: rgba(61, 0, 0, 0.7);
}

.bgc-safe {
  background-color: rgba(172, 255, 47, 0.8);
}

.block-click {
  background-color: rgba(24, 24, 24, 0.274);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}